<nav class="navbar navbar-default navbar-static-top container-fluid">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/">MACI Research</a>
        </div>

        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li>
                    <a href="#/experiment/create">Create Experiment Study</a>
                </li>
                <li>
                    <a href="#/experiments">Experiment Studies</a>
                </li>
                <li>
                    <a href="#/framework">Framework Files</a>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:">
                        Workers
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#/workers">Running Workers</a></li>
                        <li><a href="#/workerhosts">Worker Hosts</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:">
                        Tools
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#/export">Export</a>
                        </li>
                        <li>
                            <a href="#/global_event_log">Log</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:">
                        Help
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#/help">Getting Started</a></li>
                        <li><a href="#/help_concepts">Concepts and Architecture</a></li>
                        <li><a href="#/help_language">Languages</a></li>
                        <li><a href="#/help_api">API</a></li>
                        <li><a href="#/help_analysis">Analysis</a></li>
                        <li><a href="#/help_git">Git Integration</a></li>
                        <li><a href="#/help_faq">FAQ</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>